body {
  font-family: "Overpass", sans-serif;
}

.bannerBg {
  background-image: url("/img/bannerBg.jpg");
  height: 552px;
  background-position: center center;
}

.bannerBg .productInfo {
  position: absolute;
  top: 14%;
  right: 30px;
  background-color: #fff;
  border-radius: 6px;
  height: 372px;
  width: 430px;
}

.bannerBg .productInfo .pdLeft {
  padding: 20px;
}

.bannerBg .productInfo .ProName {
  font-size: 20px;
  font-weight: bold;
  color: #262626;
  margin-top: 10px;
}

.bannerBg .productInfo .ProName span {
  font-size: 12px;
  font-weight: normal;
  color: #888888;
}

.bannerBg .productInfo .Reviews {
  font-size: 12px;
  font-weight: normal;
  color: #1a9fa5;
  margin-top: 3px;
}

.bannerBg .productInfo label {
  font-size: 12px;
  font-weight: normal;
  color: #949494;
  margin-top: 20px;
  margin-bottom: 0px;
}

.bannerBg .productInfo select {
  border: none;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-left: 0px;
}

.bannerBg .productInfo .ProPrice {
  color: #262626;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}

.bannerBg .productInfo .ViewPrice {
  color: #1a9fa5;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}

.bannerBg .productInfo .ContactDealer {
  border-radius: 5px;
  border: solid 1px #e63a46;
  background-color: #ffffff;
  width: 127px;
  height: 36px;
  color: #e63a46;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

.bannerBg .productInfo .ContactDealer:hover {
  border: solid 1px #e63a46;
  background-color: #e63a46;
  color: #fff;
}

.bannerBg .productInfo .ViewAvailableOffers {
  border-radius: 5px;
  border: solid 1px #e63a46;
  background-color: #e63a46;
  width: 165px;
  height: 36px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

.bannerBg .productInfo .ViewAvailableOffers:hover {
  border: solid 1px #e63a46;
  background-color: #fff;
  color: #e63a46;
}

.bannerBg .productInfo .ExpertReview {
  border-radius: 4px;
  background-color: rgba(20, 128, 22, 0.09);
  width: 420px;
  height: 69px;
  color: #262626;
  font-size: 12px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
}

.bannerBg .productInfo .ExpertReview span {
  color: #148016;
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
}

.bannerBg .productInfo .ExpertReview label {
  font-size: 12px;
  font-weight: normal;
  color: #434343;
  margin-top: 20px;
  margin-bottom: 0px;
}

.bannerBg .productInfo .rightArrow {
  width: 100%;
  height: 68px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.bannerBg .productInfo .rightArrow .fas {
  font-size: 30px;
}

.form-control:focus {
  outline: 0;
  border-color: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pageBreadcrumb {
  background-color: #f2f2f2;
}

.pageBreadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.pageBreadcrumb .breadcrumb {
  background-color: #f2f2f2;
}

.pageBreadcrumb .breadcrumb .breadcrumb-item a {
  font-size: 11px;
  font-weight: normal;
  color: #434343;
  margin-top: 4px;
}

.pageBreadcrumb .breadcrumb .breadcrumb-item.active a {
  font-size: 11px;
  font-weight: normal;
  color: #e63a46;
  margin-top: 4px;
}

.KeySpecifications {
  margin-top: 40px;
}

.KeySpecifications h2 {
  font-size: 20px;
  font-weight: bold;
  color: #262626;
}

.KeySpecifications .designArea .widt20 {
  width: 20%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.KeySpecifications .designArea .widt20 .graphic {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 100%;
}

.KeySpecifications .designArea .widt20 .graphic img {
  display: block;
  margin: auto;
}

.KeySpecifications .designArea .widt20 .mileage {
  font-size: 13px;
  font-weight: normal;
  color: #848484;
  text-align: center;
  margin-top: 0px;
}

.KeySpecifications .designArea .widt20 .kmpl {
  font-size: 16px;
  font-weight: bold;
  color: #262626;
  text-align: center;
  margin-top: 5px;
}

.KeySpecifications .designArea a {
  font-size: 14px;
  font-weight: bold;
  color: #e63a46;
  margin-left: 35px;
}

.PrdouctVariants {
  margin-top: 40px;
}

.PrdouctVariants h2 {
  font-size: 20px;
  font-weight: bold;
  color: #262626;
  margin-top: 5px;
  margin-bottom: 20px;
}

.PrdouctVariants .outerBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 300px;
  overflow-y: scroll;
}

.PrdouctVariants .table thead {
  background-color: #457c9d;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.PrdouctVariants .table thead th {
  padding: 10px 5px;
}

.PrdouctVariants .table tbody td {
  padding: 10px 5px;
}

.PrdouctVariants .table tbody .col-lg-4 {
  padding: 0px 5px;
}

.PrdouctVariants .table tbody .VariantName {
  font-size: 12px;
  font-weight: bold;
  color: #262626;
}

.PrdouctVariants .table tbody .showRoomPrice {
  font-size: 12px;
  font-weight: normal;
  color: #457c9d;
}

.PrdouctVariants .table tbody .viewPrice {
  font-size: 12px;
  font-weight: bold;
  color: #262626;
}

.PrdouctVariants .table tbody label {
  font-size: 12px;
  font-weight: normal;
  color: #848484;
  margin-bottom: 0px;
}

.PrdouctVariants .table tbody .ProInfo {
  font-size: 12px;
  font-weight: bold;
  color: #262626;
}

.PrdouctVariants .table tbody a {
  font-size: 14px;
  font-weight: bold;
  color: #e63a46;
}

.LatestUpdate {
  margin-top: 50px;
}

.LatestUpdate h2 {
  color: #262626;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.LatestUpdate p {
  color: #848484;
  font-size: 14px;
}

.LatestUpdate p strong {
  color: #696969;
  font-size: 14px;
  font-weight: bold;
}

.ExpertOpinion {
  margin-top: 50px;
}

.ExpertOpinion h2 {
  color: #262626;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ExpertOpinion p {
  color: #262626;
  font-size: 16px;
  font-weight: normal;
  width: 80%;
  margin: auto;
  margin-top: 5px;
}

.ExpertOpinion p .numb {
  font-size: 16px;
  font-weight: normal;
  text-align: right;
  float: right;
}

.ExpertOpinion .progress {
  height: 5px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.ExpertOpinion .progress .progress-bar {
  width: 80%;
}

.ExpertOpinion .expertName {
  color: #262626;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

.ExpertOpinion .info {
  color: #6d7278;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.ExpertOpinion .owl-carousel .item img {
  display: block;
  margin: auto;
  width: 130px;
  height: 130px;
  margin-top: 20px;
}

.ExpertOpinion .FeaturesCar1 {
  background-color: #ebf4fd;
  border: 1px solid #026cdf;
  border-radius: 5px;
  height: 160px;
  margin-top: 10px;
  width: 100%;
  padding: 15px;
}

.ExpertOpinion .FeaturesCar1 h5 {
  color: #262626;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.ExpertOpinion .FeaturesCar1 ul {
  padding-left: 13px;
}

.ExpertOpinion .FeaturesCar1 ul li {
  color: #6d7278;
  font-weight: normal;
  font-size: 14px;
}

.ExpertOpinion .FeaturesCar1 a {
  color: #026cdf;
  font-weight: normal;
  font-size: 12px;
}

.ExpertOpinion .FeaturesCar2 {
  background-color: #fbebeb;
  border: 1px solid #d93a3a;
  border-radius: 5px;
  height: 160px;
  margin-top: 10px;
  width: 100%;
  padding: 15px;
}

.ExpertOpinion .FeaturesCar2 h5 {
  color: #262626;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.ExpertOpinion .FeaturesCar2 ul {
  padding-left: 13px;
}

.ExpertOpinion .FeaturesCar2 ul li {
  color: #6d7278;
  font-weight: normal;
  font-size: 14px;
}

.ExpertOpinion .FeaturesCar2 a {
  color: #d93a3a;
  font-weight: normal;
  font-size: 12px;
}

.UserReviews {
  margin-top: 50px;
}

.UserReviews .buttons {
  margin-top: 30px;
}

.UserReviews .buttons .CarReview {
  color: #e63a46;
  background-color: transparent;
  border: 1px solid #e63a46;
  margin-right: 5px;
}

.UserReviews .buttons .CarReview:hover {
  color: #fff;
  background-color: #e63a46;
  border: 1px solid #e63a46;
}

.UserReviews .buttons .UserReviewsBtn {
  color: #fff;
  background-color: #e63a46;
  border: 1px solid #e63a46;
  margin-left: 5px;
}

.UserReviews .buttons .UserReviewsBtn:hover {
  color: #e63a46;
  background-color: transparent;
  border: 1px solid #e63a46;
}

.UserReviews .nav-tabs .nav-item.show .nav-link {
  color: #e63a46;
  background-color: transparent;
  border: none;
}

.UserReviews .nav-tabs .nav-link.active {
  color: #e63a46;
  background-color: transparent;
  border: none;
  border-bottom-color: #e63a46;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.UserReviews .nav-tabs .nav-item {
  color: #000;
  background-color: transparent;
}

.UserReviews .card .card-body {
  padding: 20px 0px;
}

.UserReviews .card .card-body .leftArea {
  border-right-color: #cfcfcf;
  border-right-style: solid;
  border-right-width: 1px;
}

.UserReviews .card .card-body .leftArea img {
  display: block;
  margin: auto;
}

.UserReviews .card .card-body .leftArea .uName {
  color: #262626;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.UserReviews .card .card-body .leftArea .lbl {
  color: #a2a2a2;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.UserReviews .card .card-body .leftArea .info {
  color: #262626;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  margin-top: 0px;
}

.UserReviews .card .card-body .rightArea {
  padding: 0px 10px 0px 0px;
}

.UserReviews .card .card-body .rightArea h4 {
  color: #262626;
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  text-transform: uppercase;
}

.UserReviews .card .card-body .rightArea p {
  color: #262626;
  font-weight: normal;
  font-size: 12px;
  margin-top: 10px;
}

.UserReviews .card .card-body .Feature {
  color: #1a9fa5;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

.UserReviews .card .card-body .FeatureWise {
  color: #262626;
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
  width: 33.3%;
  float: left;
}

.UserReviews .card .card-body .FeatureWise span {
  color: #898989;
  font-weight: bold;
  font-size: 12px;
}

.UserReviews .card .card-body .carImage {
  color: #1a9fa5;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

.TopNotch {
  margin-top: 50px;
}

.TopNotch h2 {
  color: #262626;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.TopNotch p {
  color: #262626;
  font-size: 16px;
  font-weight: normal;
  width: 80%;
  margin: auto;
  margin-top: 5px;
}

.TopNotch .btn {
  color: #fff;
  background-color: #e63a46;
  border: 1px solid #e63a46;
  margin-top: 15px;
}

.TopNotch .btn:hover {
  color: #e63a46;
  background-color: transparent;
  border: 1px solid #e63a46;
}

.TopNotch .owl-carousel .owl-prev,
.TopNotch .owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.TopNotch .owl-carousel .owl-prev {
  left: -2rem;
}

.TopNotch .owl-carousel .owl-next {
  right: -2rem;
}

.TopNotch .owl-carousel .owl-nav button.owl-prev {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
}

.TopNotch .owl-carousel .owl-nav button.owl-prev span {
  font-size: 30px;
  line-height: 1;
}

.TopNotch .owl-carousel .owl-nav button.owl-next {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
}

.TopNotch .owl-carousel .owl-nav button.owl-next span {
  font-size: 30px;
  line-height: 1;
}

.TopNotch .owl-carousel button.owl-dot {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
}

.TopNotch .content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.TopNotch .content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.TopNotch .content:hover .content-overlay {
  opacity: 1;
}

.TopNotch .content:hover .content-details {
  top: 80%;
  left: 50%;
  opacity: 1;
}

.TopNotch .content-image {
  width: 100%;
}

.TopNotch .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.TopNotch .content-details p {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  border-left-color: #e63a46;
  border-left-style: solid;
  border-left-width: 2px;
  text-align: left;
  padding-left: 10px;
}

.TopNotch .fadeIn-bottom {
  top: 80%;
}

.TopNotch .fadeIn-top {
  top: 20%;
}

.TopNotch .fadeIn-left {
  left: 20%;
}

.TopNotch .fadeIn-right {
  left: 80%;
}

.DealersNearYou {
  margin-top: 50px;
}

.DealersNearYou .owl-carousel .owl-prev,
.DealersNearYou .owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.DealersNearYou .owl-carousel .owl-prev {
  left: -2rem;
}

.DealersNearYou .owl-carousel .owl-next {
  right: -2rem;
}

.DealersNearYou .owl-carousel .owl-nav button.owl-prev {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
}

.DealersNearYou .owl-carousel .owl-nav button.owl-next {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
}

.DealersNearYou .owl-carousel button.owl-dot {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
}

.DealersNearYou h2 {
  color: #262626;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.DealersNearYou h2 span {
  color: #e63a46;
  font-weight: bold;
  font-size: 20px;
}

.DealersNearYou h2 span small {
  color: #888888;
  font-size: 12px;
  font-weight: bold;
}

.DealersNearYou .card h6 {
  color: #262626;
  font-size: 16px;
  font-weight: bold;
}

.DealersNearYou .card p {
  color: #686767;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

.DealersNearYou .card p img {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.DealersNearYou .card .wtsApp {
  color: #42a956;
  font-size: 14px;
  font-weight: bold;
}

.DealersNearYou .card .wtsApp img {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.DiscontinuedModels {
  margin-top: 50px;
}

.DiscontinuedModels h2 {
  color: #262626;
  font-size: 20px;
  font-weight: bold;
}

.DiscontinuedModels .card {
  margin-bottom: 10px;
}

.DiscontinuedModels .card .card-body {
  padding: 10px;
}

.DiscontinuedModels a {
  color: #686767;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0px;
  text-decoration: none;
}

.DiscontinuedModels a span {
  float: right;
}

.StillNotSure {
  margin-top: 50px;
  margin-bottom: 50px;
}

.StillNotSure h2 {
  color: #262626;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.StillNotSure img {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.StillNotSure p {
  color: #262626;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.StillNotSure a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #e63a46;
  margin-bottom: 50px;
}

.GetAmazingFinanceOffersSmall {
  margin-top: 50px;
  margin-bottom: 30px;
}

.GetAmazingFinanceOffersSmall h4 {
  color: #262626;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  padding-top: 15px;
  text-align: center;
}

.GetAmazingFinanceOffersSmall p {
  color: #868686;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
}

.GetAmazingFinanceOffersSmall a {
  color: #e63a46;
  border: 1px solid #e63a46;
  background-color: transparent;
  font-size: 14px;
  padding: 10px;
  text-align: center !important;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 115px;
}

.GetAmazingFinanceOffersSmall a:hover {
  color: #fff;
  border: 1px solid #e63a46;
  background-color: #e63a46;
  text-decoration: none;
}

.nearByCities {
  margin-top: 30px;
  margin-bottom: 30px;
}

.nearByCities .card .card-body {
  padding: 0px;
}

.nearByCities .card .card-body h4 {
  color: #262626;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-left: 15px;
}

.nearByCities .card .card-body p {
  color: #868686;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
}

.nearByCities .card .card-body .table thead {
  background-color: #1e3557;
  color: #fff;
  font-weight: normal;
  font-size: 13px;
}

.nearByCities .card .card-body .table thead th {
  padding: 5px 15px;
}

.nearByCities .card .card-body .table tbody {
  color: #262626;
  font-weight: normal;
  font-size: 13px;
}

.nearByCities .card .card-body .table tbody td {
  padding: 5px 14px;
}

.TrendingToyotaCars {
  margin-top: 30px;
  margin-bottom: 30px;
}

.TrendingToyotaCars .card .card-body {
  padding: 0px;
}

.TrendingToyotaCars .card .card-body h4 {
  color: #262626;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-left: 15px;
}

.TrendingToyotaCars .card .card-body p {
  color: #868686;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
}

.TrendingToyotaCars .card .card-body ul {
  background-color: rgba(30, 53, 87, 0.89);
  text-align: center;
}

.TrendingToyotaCars .card .card-body ul li a {
  color: #fff;
  padding: 10px;
  font-size: 12px;
  font-weight: normal;
}

.TrendingToyotaCars .card .card-body .nav-pills .nav-link.active {
  background-color: #0d2241;
  color: #fff;
}

.TrendingToyotaCars .card .card-body .tab-content img {
  float: left;
  border-radius: 5px;
  width: 85px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.TrendingToyotaCars .card .card-body .tab-content .ModalName {
  font-size: 13px;
  color: #262626;
  padding-top: 10px;
}

.TrendingToyotaCars .card .card-body .tab-content p {
  font-size: 12px;
  color: #848484;
  text-align: left;
}

.MonthlyInstallmentFortuner {
  margin-top: 30px;
  margin-bottom: 30px;
}

.MonthlyInstallmentFortuner .Monthlyinstallment {
  color: #262626;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0px;
}

.MonthlyInstallmentFortuner p {
  color: #262626;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 10px;
}

.MonthlyInstallmentFortuner strike {
  color: #6d7278;
  font-weight: normal;
  font-size: 10px;
  margin-top: 0px;
}

.MonthlyInstallmentFortuner img {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */